Repository gliff-ai/manage, pull requests merged in 2022-05, with the labels that each got.

#331 feat: do monthly major and daily gliff scans
  .github/dependabot.yml
Labels: enhancement

#356 build: rm chromedriver
  package-lock.json
  package.json
Labels: dependencies

#370 fix: update STYLE peer dependency too
  package-lock.json
  package.json
Labels: bug

#377 build: Fix Borwserstack tests
  __tests__/e2e/plugins.test.js
  package-lock.json
  package.json
Labels: dependencies
